/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Custom heading colors for different levels */
h1, [data-mantine-component="Title"][data-order="1"] {
  color: var(--custom-h1-color) !important;
}

h2, [data-mantine-component="Title"][data-order="2"] {
  color: var(--custom-h2-color) !important;
}

h3, [data-mantine-component="Title"][data-order="3"] {
  color: var(--custom-h3-color) !important;
}

h4, [data-mantine-component="Title"][data-order="4"] {
  color: var(--custom-h4-color) !important;
}

h5, [data-mantine-component="Title"][data-order="5"] {
  color: var(--custom-h5-color) !important;
}

h6, [data-mantine-component="Title"][data-order="6"] {
  color: var(--custom-h6-color) !important;
}
p {
  color: var(--custom-p-color) !important;
}

